<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.slashapps.radary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.AlertDialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog"></activity>
        <activity android:name=".Activities.HomeActivity" />
        <activity android:name=".Activities.BaseActivity" />
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Aboutactivity"
            android:parentActivityName=".Activities.HomeActivity" />
        <activity
            android:name=".Activities.ContactActivity"
            android:parentActivityName=".Activities.HomeActivity" />
        <activity
            android:name=".Activities.Loginactivity"
            android:parentActivityName=".Activities.HomeActivity" />
        <activity
            android:name=".Activities.Register"
            android:parentActivityName=".Activities.Register" />
        <activity android:name=".Activities.NoConnectionActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCS47HXWnYxTXM0xYepVc1Yd27S2xxfGfc" />

        <activity android:name=".Activities.Settingactivity" />
        <activity android:name=".Activities.CamLocationActivity" /> <!-- Firebase Notifications -->
        <service android:name=".FirebaseHelpers.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FirebaseHelpers.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service> <!-- ./Firebase Notifications -->
        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value=" ca-app-pub-5159996687624065~4349736953" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activities.Addmobs"
            android:label="@string/title_activity_addmobs" /> <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".Activities.PolicyActivity" />
        <activity android:name=".Activities.Placesmap" />
    </application>

</manifest>